@{
    Layout = "_LayoutListTournament";
    string uid = Context.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    List<TournamentComplete> tournaments = ViewData["LISTTOURNAMENTS"] as List<TournamentComplete>;
}


<div id="content">
    <h1 class="secondary-title-valo text-center">Buscar Torneo</h1>
    <form class="search" method="post">
        <input type="text" class="search__input" name="filtro"/>
        <button class="search__button">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="25"
                 height="25"
                 fill="white"
                 class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button>
    </form>
</div>
<a class="primary-button primary-background" id="buttonUp">
    <img src="~/imgs/icons/buttonUp.svg" style="width: 35px; height: 35px" />
</a>

<div class="container">
<div class="container-cards" id="content-torneos">
        @if (tournaments != null) {
            @foreach (TournamentComplete tournament in tournaments) {
                <div class="card">
                     @{
                        string rankFormat = $"{tournament.Rank.Replace(" ", "_")}_Rank.png";
                        var fechaFormateada = tournament.DateInit.ToString("dd MMM yyyy HH:mm");
                    }
                    <div class="card-header">
                        <img src="@tournament.Image"
                             class="card-img"
                             alt="..." />
                        <p class="player-count">@tournament.Inscriptions/@tournament.LimitPlayers</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@tournament.Name</h5>
                        <p class="card-text">Plataforma: @tournament.Platform</p>
                        <p class="card-text">rango requerido: @tournament.Rank</p>
                        <p class="card-text">5 vs 5</p>
                        <div class="icons-container">
                            <img class="icon-img" src="~/imgs/icons/@tournament.PlatformImage" />
                            <img class="icon-img" src="~/imgs/rangos/@rankFormat" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-footer-text">
                            @fechaFormateada
                        </p>
                       @if (await service.ValidateInscription(tournament.Tid)) {
                            <a asp-controller="Tournaments" asp-action="TournamentDetails" asp-route-tid="@tournament.Tid" class="card-button">Detalles</a>
                        }else if(tournament.Inscriptions < tournament.LimitPlayers) {
                            <a asp-controller="Tournaments" asp-action="TournamentDetails" asp-route-tid="@tournament.Tid" class="card-button">Unirse</a>
                        }else{
                            <p class="card-complete">Completo</p>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
